name: PR Deploy

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    name: Build Site for PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Patch docusaurus.config.js for PR builds
        run: |
          sed -E -i "s^baseUrl:(..*)PAA^baseUrl:\1PAA/@${{ github.event.pull_request.head.ref }}^g" docusaurus.config.js
          sed -E -i "s^title: 'Build resilient apps with SAP BTP',^title: 'Build resilient apps with SAP BTP (PR: #${PR_NUMBER})',^g" docusaurus.config.js
          sed -E -i "s|(navbar: \{[^}]*title: ')Develop a multitenant Software as a Service application in SAP BTP using CAP(',)|\1Develop a multitenant Software as a Service application in SAP BTP using CAP (PR: #${PR_NUMBER})\2|g" docusaurus.config.js

          sed -E -i "s^logo: \{^logo: \{href: '${{ github.event.pull_request.html_url }}',^g" docusaurus.config.js
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}

      - name: Verify Patch Application
        run: |
          cat docusaurus.config.js

      - name: Build Website
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

  deploy:
    name: Deploy Website
    runs-on: ubuntu-latest
    needs: build
    if: success()
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          path: build/

      - name: Set up Git
        env:
          GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_USER: ${{ secrets.GIT_USER }}
        run: |
          git config --global user.email "$$GIT_USER_EMAIL"
          git config --global user.name "$$GIT_USER"

      - name: Switch to paa-doc Branch
        run: |
          git fetch origin paa-doc
          git checkout paa-doc

      - name: Cleanup (Main Branch)
        if: github.ref == 'refs/heads/main'
        run: |
          shopt -s extglob
          rm -rf !(@*)

      - name: Cleanup (PR Branch)
        if: github.event_name == 'pull_request'
        run: |
          rm -rf @${{ github.event.pull_request.head.ref }}
          mkdir @${{ github.event.pull_request.head.ref }}
          for branchFolder in @* ; do 
            if [[ -d "$branchFolder" && -z $(git ls-remote origin ${branchFolder:1}) ]]; then
              rm -rf $branchFolder
            fi;
          done

      - name: Move Build Files
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            mv build/* @${{ github.event.pull_request.head.ref }}/
            cd @${{ github.event.pull_request.head.ref }}/
          else
            mv build/* ./
          fi
          tar -xvf github-pages/artifact.tar
          rm github-pages/artifact.tar

      - name: Commit and Push Changes
        run: |
          git add -A
          git commit --amend --no-edit || echo "No changes to commit"
          git push -f origin paa-doc

  pr_comment:
    name: Post Preview Link (PRs)
    needs: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Add PR Comment with Preview Link
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: "Preview website is available [here](https://navyakhurana.github.io/PAA/@${{ github.event.pull_request.head.ref }})."
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
